# Supabase Public Keys
NEXT_PUBLIC_SUPABASE_URL=https://ujvjehrcfkwkfwdtlfka.supabase.co
NEXT_PUBLIC_SUPABASE_PUBLISHABLE_KEY=sb_publishable_tbha_3hG8JcBcnVCyo4gtQ_uNYDqM_6

# Prisma PostgreSQL Connection String (Transaction Pooler - IPv4 - Dùng cho Vercel & App Runtime)
DATABASE_URL="postgresql://postgres.ujvjehrcfkwkfwdtlfka:[YOUR-PASSWORD]@aws-0-ap-southeast-1.pooler.supabase.com:6543/postgres?pgbouncer=true"

# Prisma Direct PostgreSQL Connection (Session Pooler - IPv4 - Dùng cho Prisma Migrations trên Vercel)
DIRECT_URL="postgresql://postgres.ujvjehrcfkwkfwdtlfka:[YOUR-PASSWORD]@aws-0-ap-southeast-1.pooler.supabase.com:5432/postgres"

# Authentication Secret (JWT)
JWT_SECRET="your-super-secret-jwt-key-change-this-in-production"
